@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@theme {
  --font-Lato: "Lato", sans-serif; 
}

@layer utilities {
  .cliping {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }
}

@layer utilities {
  .clip{
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
}